<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="renderer" content="webkit"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>个人中心我的收件箱</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/common.css">
        <link rel="stylesheet" href="../css/ucenter.css">
    </head>
    <body>
       
            <!-- 头部开始 -->

<!-- 头部结束 -->
       
    
            <!--  个人中心 Start -->
            <div class="container mtw">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="row clearfix">
                            <!--  边栏 Start -->
                            <div class="col-md-3 col-xs-3  col-sm-3 column  mtw">
                               
                                <ul class="bg-white">
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw ">
                                            基本信息
                                        </li>
                                        
                                        <hr class="mt0 mb0 w90">
                                    </a>
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw color-blue">
                                            收件箱
                                        </li>
                                        <hr class="mt0 mb0 w90">
                                    </a>
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw">
                                            修改基本信息
                                        </li>
                                         <hr class="mt0 mb0 w90">
                                    </a>
                                </ul>
                                
                                <ul class="mtw bg-white">
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw ">
                                            我报名的活动
                                        </li>
                                         <hr class="mt0 mb0 w90">
                                    </a>
                                     <a href="#">
                                        <li class="text-center f16 ptw pbw">
                                            我发布的活动
                                        </li>
                                    </a>
                                </ul>

                                <ul class="mtw bg-white">
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw ">
                                            我收藏了谁
                                        </li>
                                         <hr class="mt0 mb0 w90">
                                    </a>
                                    <a href="#">
                                        <li class="text-center f16 ptw pbw ">
                                            谁收藏了我
                                        </li>
                                    </a>
                                   
                                </ul>

                            </div>
                            <!--  边栏 结束 -->
                            <!--  个人信息头部 Start -->
                            <div class="col-md-9 col-xs-9  col-sm-9 column  mtw">
                                <div class="row clearfix bg-gray  ">
                                    <ul class="tabs f16">
                                        <a href="#">
                                            <li class=" pull-left  plv prv ptm pbm" >
                                                <strong>未读信</strong>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class=" pull-left on plv prv ptm pbm" >
                                                <strong>已读信</strong>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li class=" pull-left plv prv ptm pbm" >
                                                <strong>已发信</strong>
                                            </li>
                                        </a>
                                    </ul>

                                </div>
                                <div class="row clearfix bg-white plv prv ptv pbv">
                                    <!-- 收藏者列表开始 -->
                                    <ul class="letters row clearfix  plm prm text-center">
                                        <li class="clearfix  ptw pbw">
                                            <div class="bg-white ">
                                                <div class="letter-img text-left mtm ptm col-lg-3  col-md-3 col-xs-3  col-sm-3">
                                                    <img src="../img/boy_header_face.jpg">
                                                </div>
                                                <div class="intro mtw col-lg-6  col-md-6 col-xs-6  col-sm-6">
                                                    <div class="title text-left">
                                                        <strong class="f16 color-blue">上炕大魔王</strong>
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        男/北京市/其他
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        婚姻状况
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        2015/12/17 11:22:33
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                       信的以第一句话
                                                    </div>
                                                </div>

                                                <div class="text-center mtm ptv col-lg-3  col-md-3 col-xs-3  col-sm-3">
                                                  <button class="btn btn-primary plv prv">查看</button>
                                                </div>
                                            </div>
                                        </li>
                                         <li class="clearfix  ptw pbw">
                                            <div class="bg-white ">
                                                <div class="letter-img text-left mtm ptm col-lg-3  col-md-3 col-xs-3  col-sm-3">
                                                    <img src="../img/boy_header_face.jpg">
                                                </div>
                                                <div class="intro mtw col-lg-6  col-md-6 col-xs-6  col-sm-6">
                                                    <div class="title text-left">
                                                        <strong class="f16 color-blue">上炕大魔王</strong>
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        男/北京市/其他
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        婚姻状况
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                        2015/12/17 11:22:33
                                                    </div>
                                                    <div class="info f14 text-left mtm">
                                                       信的以第一句话
                                                    </div>
                                                </div>

                                                <div class="text-center mtm ptv col-lg-3  col-md-3 col-xs-3  col-sm-3">
                                                  <button class="btn btn-primary plv prv">查看</button>
                                                </div>
                                            </div>
                                        </li>
                                         
                                      
                                        <ul class="pagination clearfix">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>

                                    </ul>   
                                    <!-- 收藏者列表结束 -->

                                </div>

                             

                                
                                
                            </div>
                            <!--  个人信息头部 End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- 个人中心 End -->
    </body>
</html>

<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">
    $('.carousel').carousel();
</script>
   

